*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --var-cor1: #F0840F;
    --var-cor2: #D28E05;
    --var-cor3: #F4BB2B;
    --var-cor4: #B7E3E1;
    --var-cor5: #01385B;
}
body{
    overflow-x: hidden;
}

header{
    z-index: 999999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100vw;
    padding: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: var(--var-cor1)
}
header img{
    width: 60px;
}
.bx-menu{
    font-size: 40px;
}

#conteudo{
    padding-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    flex-direction: column;
}

.anuncio{
    width: 200px;
}


#all {
    display: flex;
    justify-content: center;
}

#meio{
    display: flex;
    justify-content: space-around;
    width: 1100px;
}

#CUBAO{
    display: flex;
    width: 1500px;
    justify-content: center;
}

#noticiaPrincipal{
    border-radius: 15px;
    overflow: hidden;
    width: 606px;
    height: 661px;
    margin-right: 50px;
    transform: scale(1);
    cursor: pointer;
    z-index: 10;
    transition: all .3s ease;
}

#noticiaPrincipal img{
    width: 100%;
    transition: all .5s ease;
}

#noticiaPrincipal:hover img{
    transform: scale(1.1);
}
#noticiaDupla img{
    height: 585px;
    transition: all .5s ease;
}




#noticiaDupla{
    transform: scale(1);
    cursor: pointer;
    overflow: hidden;
    height: 661px;
    width: 606px;
}
.miniNotice img{
    height: 274.39px;
}

.miniNotice{
    border-radius: 15px;
    height: 305.5px;
    overflow: hidden;
}
.miniNotice:hover img{
    transform: scale(1.2);
}
#paqueta{
    margin-bottom: 45px;
}
#paqueta img{
    height: auto;
    position: relative;
    width: 600px;
    top: -20px;
}

.notice{
    width: 1250px;
    display: flex;
    margin: 0px 0px 0px 0px;

}
#abrangedora{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;

}
.imagemnotice{
    width: 20%;
}
.postnotice{
    width: 80%;
}


@media (max-width: 1440px){
    .anuncio{
        display: none;
    }
    #meio{
        width: 100vw;
    }
}